@import "tailwindcss";
@import url('https://fonts.googleapis.com/css2?family=Instrument+Serif:ital@0;1&display=swap');
@import url('https://fonts.googleapis.com/css2?family=DM+Sans:ital,opsz,wght@0,9..40,100..1000;1,9..40,100..1000&family=Oswald:wght@200..700&display=swap');

:root {
    --color-primary: #FFF6F2;
  --color-secondary: #230E03;
  --color-accent: #990A3C;
  --color-text: #230E03;
  --color-stroke: rgba(43, 18, 4, 0.3);

  font-family: system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;
  color: var(--color-text);
  background-color: var(--color-primary);

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

@font-face {
  font-family: "Instrument Serif";
  src: url("/fonts/InstrumentSerif-Regular.ttf") format("truetype");
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: "Instrument Serif";
  src: url("/fonts/InstrumentSerif-Italic.ttf") format("truetype");
  font-weight: 400;
}
@font-face {
  font-family: "Oswald";
  src: url("/fonts/Oswald-Bold.ttf") format("truetype");
  font-weight: 700;
}
@font-face {
  font-family: "Oswald";
  src: url("/fonts/Oswald-Light.ttf") format("truetype");
  font-weight: 300;
}

html, body, #root {
  height: 100dvh;
  width: 100%;
  margin: 0;
}

body {
  margin: 0;
  min-width: 320px;
  min-height: 100vh;
}

.name{
  font-family: "Instrument Serif";
font-size: clamp(2.2rem, 6vw, 3.5rem);
font-weight: 400;
}

.hero-name {
font-family: 'Oswald', sans-serif;
font-size: clamp(3.5rem, 8vw, 18rem);
font-style: normal;
font-weight: 700;
line-height: normal;
letter-spacing: 1.05px;
}

h1{
  font-family: 'Oswald', sans-serif;
font-size: clamp(3rem, 3vw, 6rem);
font-style: normal;
font-weight: 700;
line-height: normal;
letter-spacing: 1.05px;
}

h2{
  font-family: "Instrument Serif";
font-size: clamp(1.75rem, 4vw, 4rem);
font-style: normal;
font-weight: 400;
line-height: normal;
letter-spacing: 0.04rem;
}

h3{
font-family: "Oswald";
font-size: clamp(1.3rem, 4vw, 2.8rem);
font-weight: 400;
line-height: normal;
letter-spacing: 0.04rem;
}

p{
font-family: "Oswald", sans-serif;
font-size: clamp(1.2rem, 2vw, 3rem);
font-style: normal;
font-weight: 300;
line-height: clamp(2rem, 6vw, 5rem); /* 136.364% */
letter-spacing: 0.0825rem;
}

.project-desc{
  font-size: clamp(1rem, 4vw, 1.9rem);
line-height: clamp(1.8rem, 2.5vw, 3rem);
}

.tag-text{
  font-size: clamp(0.8rem, 2.6vw, 1.5rem);
  font-family: "Oswald", sans-serif;
  line-height: 1rem;
}

.button-text{
  font-family: "Oswald", sans-serif;
  font-weight: 300;
  font-size: clamp(1.2rem, 1.7vw, 2.2rem);
}

/* for menu items inside overlay (mobile)*/
.menu-item{
    font-family: "Oswald", sans-serif;
font-style: normal;

  color: var(--color-accent);
  text-align: center;
  font-size: clamp(3.5rem, 3vw, 6rem);
  font-weight: 700;
;
}
.label-text{
    font-family: "Oswald", sans-serif;
font-style: normal;

  font-size: clamp(1.5rem, 1.8vw, 2.25rem);
}

/* for navbar items */
.nav-item{
  color: var(--color-text);
  font-family: "Instrument Serif";
  font-size: clamp(1.2rem, 1.2vw, 1.9rem);
  font-weight: 400;
  font-style: normal;

  line-height: normal;
}
